<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% file.filename %></title>
  </head>
  <body>
    <h3>aaaaaaaaaaaaalllllllllllllllll</h3>
    <div>
      <div>
        <% if(file.isImage) { %>
        <img src="image/<%= file.filename %>" alt="" />
        <% } else { %> <% =file.filename %> <% } %>
      </div>
    </div>
  </body>
</html>
